# flyctl launch added from .gitignore
# Logs
**/logs
**/*.log
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
**/pnpm-debug.log*
**/lerna-debug.log*

**/node_modules
**/dist
**/dist-ssr
**/*.local

# Editor directories and files
**/.vscode/*
!**/.vscode/extensions.json
**/.idea
**/.DS_Store
**/*.suo
**/*.ntvs*
**/*.njsproj
**/*.sln
**/*.sw?

# Environment variables
**/.env

# Firebase
**/.firebase*
**/*.db

# flyctl launch added from web/node_modules/tailwindcss/stubs/.gitignore
!web/node_modules/tailwindcss/stubs/**/*
fly.toml
